/* index.css */
body {
  margin: 0;
  padding: 0;
  background-color: #b6b4b4; /* Fondo gris claro */
  font-family: Arial, sans-serif; /* Ajusta la tipografía si lo deseas */
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

